.sticky-navbar {
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure the navbar stays above other content */
    width: 100%; /* Ensure it spans the full width of the viewport */
  
  }
  .footer {
    background-color: rgb(80, 79, 79);
    color: white;
    padding: 1rem 0;
    width: 100%;
}
.footer .container {
    max-width: 1200px; /* Adjust the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 1rem; /* Add horizontal padding */
    
}
.footer p {
    margin: 0;
    text-align: center;
    font-size: 0.875rem; /* Adjust font size */
}
.footer a {
    color: #4f94d4; /* Blue color for links */
    text-decoration: none;
    margin: 0 0.5rem; /* Space between links */
}
.footer a:hover {
    text-decoration: underline; /* Underline on hover */
}
